<!DOCTYPE html>
<html>


    <script src="static/index.js" defer></script>
<body>

<h1>Velkommen ukendte ven </h1>
<p>Nedenunder kan du enten logge ind, lave en bruger eller logge ud.</p>

<form>
<div class="logud">
    <label for="glemnavn">Log mig ud</label>
    <input id="glemnavn" type="reset" value="Logout">
</div>
</form>


<a href="http://localhost:3030/register">Register</a>
<a href="http://localhost:3030/login" id='mitLogin'>Login</a>
<a href="http://localhost:3030/delete" id='sletBruger'>Slet bruger</a>
<a href="http://localhost:3030/update" id='opdaterBruger'>Opdater bruger</a>
<a href="http://localhost:3030/opretVarer" id='opretProdukt'>Opret Varer</a>
<a href="http://localhost:3030/seVarer" id='seVarer'>Se alle varer</a>

<div>

    <a href="http://localhost:3030/sletVarer" id='sletVarer'>Slet varer</a>
</div>



</body>
</html>