<!DOCTYPE html>
<html>
    <head>

    <script src="static/login.js" defer></script>

    </head>
<h1>Login her</h1>
<form action="/login" method="POST">



<div class='loginDiv'>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input id='skrivEmail' type="submit"></input>
</div>



<div>
    <a href="http://localhost:3030/register">Register</a>
</div>

<div>
    <a href="http://localhost:3030/">Homepage</a>
</div>

</form>


</html>