<!DOCTYPE html>
<head>
    <h1>Opdater varer her!</h1>
</head>
<body>
    <form>
       VarerID:<input type="text" id="productID"><br>
       Navn:<input type="text" id="nytNavn"><br>
       Pris:<input type="number" id="nyPris"><br>
       Kategori: <select name='nyKategori' id='nyKategori'><br>
        <option value='Tøj'>Tøj</option>><br>
        <option value='Bolig'>Bolig</option>><br>
        <option value='Elektronik'>Elektronik</option>><br>
    </select>
    <br>
        <button type="submit" id="opdaterKnap">Opdater!</button>
    </form>
  
 
    <div>
        <button id="egneVarer">Se dine egne varer</button>
    </div>
    <table id="list">
    </table>
    <a href="http://localhost:3030/">Homepage</a>
    <script src="static/opdaterVarer.js" defer></script

</body>
</html>
        

  
