<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Opret varer her!</h1>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form id='varerForm'>
        <label for="email">Email:</label>
        <input type='email' name='email'><br>
        <label for="password">Password:</label>
        <input type='password' name='password'><br>
        <label for="varerNavn">Navn på din vare:</label>
        <input type='input' name='varerNavn'><br>
        <label for="pris">Pris i DKK:</label>
        <input type='number' name='pris'><br>
        <label for="varerKategori">Varerkategori:</label>
        <select name='varerKategori'>
            <option value='Tøj'>Tøj</option>><br>
        </select>
        <br>
        <label for="varerBillede">Billede:</label>
        <input type='file' name='varerBillede'><br>
        <input type='submit' name="opret" value='Opret Vare'><br>
    </form>
 
 
    <button id="refresh">Se dine egne varer</button>

    <table id="list">
    </table>
    <a href="http://localhost:3030/">Homepage</a>
    <script src="static/opretVarer.js" defer></script

</body>
</html>
        

  
