<!DOCTYPE html>
<html lang="en">
<head>
   <h1>Se varer her</h1>
</head>
<body onload="function allProducts()">
    <div>
    <label class="category">Category</label>
    <select name="category" id="category" required>
    <option value="all">All</option>
    <option value="elektronik">Elektronik</option>
    <option value="tøj">tøj</option>
    </select>
    </div>
    
</body>

<button onclick="getAllProductsWithCategory()" class="reqbtn" type="submit" id="submit">Products</button>

<script src="static/seVarer.js" defer></script
</html>