<html>
  <head>
    <script src="static/seVarer.js"></script>
  </head>

  <body>
    
     

      <h1>Her kan du shoppe rundt i alle varer</h1>

        <label class="kategori">Kategori:</label>
        <select name="kategori" id="kategori" required>
          <option value="all">Alle</option>
          <option value="Elektronik">Elektronik</option>
          <option value="Tøj">Tøj</option>
          <option value="Bolig">Bolig</option>
        </select>

        <button onclick="varerCategory()" type="submit" id="submit">Se varer</button>
        <div id="Varer" class="Varer"></div>
 


          
          <a href="http://localhost:3030">Homepage</a>

  </body>
</html>