
<h1>Opdater enten password eller email her</h1>

<p>Her kan du opdatere email</p>
<form action="/update?_method=PUT" method="POST">

 <div>
        <label for="email">Gammel email:</label>
        <input type="email" id="email" name="email" required>
</div>
    

<div>
    <label for="nyemail">Ny email:</label>
    <input type="email" id="nyemail" name="nyemail" required>
</div>

<div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
</div>


<button type="submit" id="updateKnap">Submit</button>

</form>


<p>Her kan du opdatere password</p>
<form action="/update?_method=PUT" method="POST">

    <div>
           <label for="oldemail">Email:</label>
           <input type="email" id="oldemail" name="oldemail" required>
   </div>
       
   <div>
       <label for="mitpassword">Gammelt Password:</label>
       <input type="password" id="mitpassword" name="mitpassword" required>
   </div>
   
   
   <div>
       <label for="nytpassword">Nyt Password:</label>
       <input type="password" id="nytpassword" name="nytpassword" required>
   </div>
   
   
   <button type="submit">Submit</button>
   
   </form>

    
<div>
    <a href="http://localhost:3030/register">Register</a>
</div>

<div>
    <a href="http://localhost:3030/">Homepage</a>
</div>
<script src="static/opdaterBruger.js" defer></script>